# fly.toml app configuration file generated for voice-agent-api on 2026-02-27T12:28:15-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'voice-agent-api'
primary_region = 'sjc'

[build]

[env]
  PORT = "80"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
